---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">

<h1>About BlueGate Labs</h1>

<p>
BlueGate Labs is a cybersecurity research and development site focused on practical labs, cloud security, detection engineering and project development.
</p>

</Layout>