---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Articles">

<h1>Articles</h1>

<p>
Future home of Active Directory, AWS Security,
Detection Engineering and Project Development articles.
</p>

</Layout>