---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects">

<h1>Projects</h1>

<ul>
  <li>BlueGate - Windows SIEM Development</li>
  <li>Recon Pipeline - Automated Reconnaissance Workflow</li>
  <li>PantryPal - Android Food Inventory Application</li>
  <li>Gmail Cleaner - Gmail Automation Utility</li>
</ul>

</Layout>