---
---

<html lang="en">
  <head>
    <title>Projects | BlueGate Labs</title>
  </head>
  <body>
    <h1>Projects</h1>
    <ul>
      <li>BlueGate - Windows SIEM development</li>
      <li>Recon Pipeline - automated reconnaissance workflow</li>
      <li>PantryPal - Android food inventory app</li>
      <li>Gmail Cleaner - Python Gmail automation utility</li>
    </ul>
  </body>
</html>